body{
    background-color:rgb(255,231,185);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color:rgb(151, 119, 37)
}

h2{
    color:rgb(151, 119, 37)
}

#banner{
    width:100%
}